@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url("./assets/Banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  text-align: center;
  color: white;
}
header h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 15px;
}
header p {
  font-size: 1.5rem;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: bold;
}
header button {
  background-color: #66BB6A;
  color: white;
  border: none;
  padding: 20px 40px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
header .box-header {
  background: rgba(0, 0, 0, 0.4);
  height: inherit;
  padding: 200px 40px 40px 40px;
  width: 100%;
  text-align: center;
}

.cards {
  background-color: #F1F8E9;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 50px 20px;
}
.cards .card {
  position: relative;
  margin: 80px 50px;
  border-radius: 15px;
  background-color: #fff;
  width: 20rem;
  height: 30rem;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.cards .card h2 {
  margin: 20px 20px 0 0;
  padding: 10px;
  background: none;
}
.cards .card p {
  margin: 20px 20px 0 0;
  padding: 5px;
  background: none;
}
.cards .card button {
  padding: 15px 25px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 68px;
  cursor: pointer;
  margin: 20px;
  width: 10rem;
}
.cards .card button:hover {
  background-color: #218838;
}
.cards .card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.content-center {
  text-align: center;
}
.content-center h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 20px 0;
  padding: 10px;
  background: none;
}
.content-center p {
  color: rgb(99, 98, 98);
  margin-bottom: 20px;
}

.content-form {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.content-form .form-volunteer {
  display: inline-block;
  margin: 0 auto 50px auto;
  padding: 20px;
}
.content-form .form-volunteer input {
  display: block;
  width: 40rem;
  padding: 25px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #fff;
}
.content-form .form-volunteer select {
  display: block;
  width: 40rem;
  padding: 25px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #fff;
  color: grey;
}
.content-form .form-volunteer button {
  padding: 15px 25px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 68px;
  cursor: pointer;
  margin: 20px;
  width: 40rem;
}
.content-form .form-volunteer button:hover {
  background-color: #218838;
}

footer {
  background-color: #28a745;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
footer p {
  margin: 0;
  font-size: 1rem;
  background: none;
}

@media (max-width: 1200px) {
  header .content {
    width: 80%;
  }
  header .content h1 {
    font-size: 3.5rem;
  }
  header .content p {
    font-size: 1rem;
  }
  main .cards .card {
    width: 18rem;
    margin: 50px 30px;
  }
  main .content-form .form-volunteer input,
  main .content-form .form-volunteer select,
  main .content-form .form-volunteer button {
    width: 30rem;
  }
}
@media (max-width: 992px) {
  header .content {
    width: 90%;
    padding-top: 15%;
  }
  main .cards {
    margin: 0 auto;
    text-align: center;
  }
  main .cards .card {
    width: 70%;
    margin: 30px auto;
    display: block;
  }
  main .content-form .form-volunteer input,
  main .content-form .form-volunteer select,
  main .content-form .form-volunteer button {
    width: 80%;
  }
}
@media (max-width: 576px) {
  header {
    height: 50vh;
  }
  header .content {
    padding-top: 25%;
  }
  header .content h1 {
    font-size: 2rem;
  }
  header .content p {
    font-size: 0.9rem;
  }
  header .content button {
    width: 12rem;
    padding: 12px 20px;
  }
  main .cards .card {
    width: 90%;
    margin: 20px auto;
  }
  main .content-center h2 {
    font-size: 1.2rem;
  }
  main .content-form .form-volunteer input,
  main .content-form .form-volunteer select,
  main .content-form .form-volunteer button {
    width: 90%;
    font-size: 0.9rem;
  }
  footer {
    padding: 20px 0;
  }
  footer p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */